/**
 * Ensure content spans at least the size of the browser window.
 * See: https://codepen.io/absolutholz/post/html-and-body-element-height-100
 *
 * NOTE
 * html is set to 62.5% so that all the REM measurements throughout
 * are based on 10px sizing. So basically 1.5rem = 15px
 * ==========================================================================
 */
html {
  height: 100%;
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  min-height: 100%;
}
/**
 * Consistent `box-sizing`.
 * See: http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * ==========================================================================
 */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/**
 * CSS reset for browser consistency.
 * See: http://cssreset.com/scripts/eric-meyer-reset-css/
 * ==========================================================================
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: inherit;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/**
 * Global tag styles.
 * ==========================================================================
 */
body {
  color: #353537;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
}
a {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  width: 100%;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 10vw;
  }
}
.section--title {
  margin: 2rem 0;
  font-size: 3rem;
  font-weight: 500;
}
.section--title::before {
  content: "//";
  padding-right: 20px;
}
.btn {
  display: inline-block;
  height: 34px;
  margin: 1rem 0;
  padding: 17px 2rem;
  color: #fff;
  font-size: 16px;
  line-height: 0;
  background: none;
  border: none;
  border-radius: 4px;
  outline: none;
}
.btn--primary {
  color: #222;
  background-color: #ffdc5e;
  border: 2px solid #ffdc5e;
}
.btn--subtle-outline {
  border: 2px solid rgba(255, 255, 255, 0.8);
}
.btn--dark-outline {
  color: rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(0, 0, 0, 0.7);
}
.header--main {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  padding: 40px 0;
}
.header--main .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}
.header--main .container.a--flex-end {
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.header--main.dark .nav--button::before,
.header--main.dark .nav--button::after {
  background: #444;
}
.header--main.stuck {
  position: fixed;
}
.header--logo {
  opacity: 0;
  pointer-events: none;
  transition: opacity 150ms linear;
}
.header--logo.visible {
  opacity: 1;
  pointer-events: all;
}
.header--nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.header--nav li {
  display: none;
  margin-left: 40px;
}
.header--nav li a {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 200;
}
.header--nav li a:hover {
  color: rgba(255, 255, 255, 0.9);
}
@media (min-width: 768px) {
  .header--nav li {
    display: inline-block;
  }
}
.nav--button {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 40px;
  width: 40px;
  margin-left: 40px;
  cursor: pointer;
  pointer-events: all;
}
.nav--button::before,
.nav--button::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 10px;
  width: 20px;
  height: 2px;
  background: #fff;
  transition: transform 300ms ease-out;
}
.nav--button::after {
  top: auto;
  bottom: 16px;
}
.nav--button.active::before {
  transform: translateY(3px) rotate(135deg);
}
.nav--button.active::after {
  transform: translateY(-3px) rotate(45deg);
}
.nav--button.dark::before,
.nav--button.dark::after {
  background: #444;
}
.landing--drawer {
  position: fixed;
  width: 100%;
  opacity: 0;
  z-index: 9998;
  padding-bottom: 4rem;
  background: #fff;
  transition: opacity 150ms linear, transform 350ms ease-in-out;
  pointer-events: none;
  box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.2);
  transform: translate3d(0, -100%, 0);
}
.landing--drawer.visible {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  pointer-events: all;
}
@media (min-width: 768px) {
  .landing--drawer {
    padding-bottom: 10rem;
  }
}
.landing--container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  z-index: 99999999;
  padding: 40px 20px 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .landing--container {
    padding: 140px 40px 0;
  }
}
@media (min-width: 1024px) {
  .landing--container {
    padding: 140px 0 0;
  }
}
.landing--background {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url('/public/images/nav_bg.png');
  background-size: cover;
  background-position: 100% 50%;
  background-blend-mode: soft-light;
}
@media (min-width: 768px) {
  .landing--background {
    height: 200px;
  }
}
.landing--inner {
  width: 100%;
  max-width: 1000px;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .landing--inner {
    padding: 0;
  }
}
.landing--header,
.landing--info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
@media (min-width: 768px) {
  .landing--header,
  .landing--info {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
.landing--info-section {
  width: 100%;
}
.landing--info-section:first-of-type {
  -ms-flex-order: 2;
      order: 2;
}
.landing--info-section:last-of-type {
  -ms-flex-order: 1;
      order: 1;
  text-align: center;
}
@media (min-width: 768px) {
  .landing--info-section:first-of-type {
    -ms-flex-order: 1;
        order: 1;
  }
  .landing--info-section:last-of-type {
    -ms-flex-order: 2;
        order: 2;
    text-align: right;
  }
}
.landing--header {
  -ms-flex-align: baseline;
      align-items: baseline;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .landing--header {
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-bottom: 4rem;
  }
}
.landing--social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}
.landing--social li {
  width: 50%;
  padding: 4px 0;
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 768px) {
  .landing--social {
    display: block;
  }
  .landing--social li {
    width: 100%;
    text-align: left;
  }
}
.landing--section-title {
  width: 100%;
  margin-top: 2rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  text-align: center;
}
@media (min-width: 768px) {
  .landing--section-title {
    margin-top: 0;
    text-align: right;
  }
  .landing--section-title::before {
    display: inline-block;
    content: "–";
    padding-right: 20px;
    color: rgba(0, 0, 0, 0.3);
    transform: scaleX(2);
    transform-origin: left;
  }
}
.landing--location {
  margin-bottom: 3rem;
}
.landing--location-name {
  position: relative;
  margin-bottom: 6px;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1;
  text-transform: capitalize;
  transition: transform 200ms ease-in-out;
  cursor: pointer;
}
.landing--location-name::after {
  position: absolute;
  content: "\203A";
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform 150ms ease-in-out, opacity 150ms linear;
}
.landing--location-name:hover {
  transform: translate3d(-10px, 0, 0);
}
.landing--location-name:hover::after {
  transform: translate3d(10px, 0, 0);
  opacity: 1;
}
@media (min-width: 768px) {
  .landing--location-name {
    font-size: 2.8rem;
  }
}
.landing--location-date,
.landing--location-venue {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: capitalize;
}
.hero--bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  background: #53f;
}
.hero--bg.east {
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}
.hero--bg svg {
  position: absolute;
  right: 300px;
  bottom: 10px;
}
.hero--stripes {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: skewY(-7deg);
  transform-origin: 0;
  background: linear-gradient(150deg, #53f 15%, #e92890 70%, #ffc45e 94%);
}
.hero--stripes span {
  position: absolute;
  height: 40px;
}
@media (min-width: 670px) {
  .hero--stripes span {
    height: 150px;
  }
}
@media (min-width: 880px) {
  .hero--stripes span {
    height: 190px;
  }
}
.hero--stripes :nth-child(1) {
  width: 50%;
  left: 50%;
  top: 40px;
  background: #4c29ff;
}
@media (min-width: 670px) {
  .hero--stripes :nth-child(1) {
    top: 0;
    background: #4750ff;
  }
}
@media (min-width: 880px) {
  .hero--stripes :nth-child(1) {
    width: 33.33333%;
    left: -16.66666%;
    background: #53f;
  }
}
.hero--stripes :nth-child(2) {
  width: 14%;
  right: 0;
  bottom: 40px;
  background: #2be7ff;
}
@media (min-width: 670px) {
  .hero--stripes :nth-child(2) {
    width: 16.66667%;
    top: 300px;
    bottom: auto;
    background: #0dcfff;
  }
}
@media (min-width: 880px) {
  .hero--stripes :nth-child(2) {
    width: 33.33333%;
    top: 0;
    left: 16.66666%;
    right: auto;
    background: #4553ff;
  }
}
.hero--stripes :nth-child(3) {
  width: 25%;
  bottom: 0;
  right: 0;
  background: #a1ffc8;
}
@media (min-width: 670px) {
  .hero--stripes :nth-child(3) {
    width: 33.33333%;
    right: auto;
    background: #11bdff;
  }
}
@media (min-width: 880px) {
  .hero--stripes :nth-child(3) {
    width: 33.33333%;
    left: 49.99999%;
    bottom: auto;
    background: #4f40ff;
  }
}
@media (min-width: 880px) {
  .hero--stripes :nth-child(4) {
    width: 33.33333%;
    top: 380px;
    right: -16.66666%;
    background: #fb6bc2;
  }
}
@media (min-width: 880px) {
  .hero--stripes :nth-child(5) {
    width: 33.33333%;
    bottom: 0;
    background: #934cda;
  }
}
.hero {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: relative;
  padding: 140px 0 60px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
@media (min-width: 750px) {
  .hero {
    padding: 220px 0 120px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding: 200px 0;
  }
}
.hero .power {
  position: absolute;
  right: 300px;
  bottom: 10px;
}
.hero--title {
  margin: 1rem 0;
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1;
  text-indent: -8px;
}
@media (min-width: 768px) {
  .hero--title {
    font-size: 8rem;
  }
  .hero--title.east {
    font-size: 4rem;
  }
}
.hero--subtitle {
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.95);
  font-size: 1.4rem;
  font-weight: 300;
}
.hero--subtitle i {
  font-style: italic;
  font-weight: 200;
}
.hero--info {
  font-size: 1.4rem;
  font-weight: 100;
  letter-spacing: 0.5px;
}
.hero--info:last-of-type {
  margin-bottom: 1rem;
}
.hero--actions > a:not(:first-of-type) {
  margin-left: 10px;
}
.speakers {
  margin-bottom: 2rem;
}
.speakers--list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.speaker {
  text-align: center;
  width: 100%;
}
.speaker:not(:last-child) {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  .speaker {
    width: 30%;
    margin: 0 1.5% 2rem;
  }
}
@media (min-width: 1200px) {
  .speaker {
    width: 22%;
  }
}
.speaker--image {
  box-sizing: content-box;
  width: 70%;
  margin: 0 auto 1rem;
  padding-bottom: 70%;
  border: 8px solid #efefef;
  border-radius: 50%;
  background-size: cover;
  background-position: 50%;
}
.speaker--name {
  font-size: 1.2rem;
  font-weight: 600;
}
.speaker--info {
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
}
.schedule {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}
.schedule--day {
  padding-bottom: 4px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.4rem;
  font-weight: 700;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
}
.schedule--day:not(:first-of-type) {
  margin-top: 2rem;
}
.schedule--slot {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  padding: 1rem 0;
}
.schedule--slot:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.session {
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
}
.session:not(:last-child)::after {
  display: inline-block;
  content: "-";
  margin: 0 3px 0 6px;
}
.schedule--time {
  width: 100%;
  margin-bottom: 10px;
  font-size: 1rem;
  font-weight: 900;
}
@media (min-width: 750px) {
  .schedule--time {
    width: 40%;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  .schedule--time {
    width: 20%;
  }
}
.schedule--title h1 {
  font-size: 1.2rem;
  font-weight: 500;
}
.schedule--title h1:not(:last-child) {
  margin-bottom: 1rem;
}
@media (min-width: 750px) {
  .schedule--title h1:not(:last-child) {
    margin-bottom: 0;
  }
}
@media (min-width: 750px) {
  .schedule--title h1 {
    font-weight: 700;
  }
}
.details {
  padding-top: 1rem;
}
.details .section--title {
  margin-bottom: 4rem;
}
.details--sections {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.details--section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding-bottom: 2rem;
}
.details--section:last-of-type {
  padding-bottom: 6rem;
}
@media (min-width: 768px) {
  .details--section {
    margin-right: 8rem;
  }
}
.details--title {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  .details--title {
    margin-right: 4rem;
  }
}
.details--info {
  width: 100%;
  font-size: 1rem;
}
.about {
  padding-top: 120px;
}
.about--header {
  font-size: 3rem;
  font-weight: 800;
  letter-spacing: -1px;
  text-align: center;
}
.about--header:not(:first-of-type) {
  margin: 2rem 0;
  text-align: left;
}
@media (min-width: 768px) {
  .about--header {
    font-size: 4rem;
  }
  .about--header:not(:first-of-type) {
    margin: 4rem 0 2rem;
    text-align: left;
  }
}
.about--subheader {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -1px;
}
@media (min-width: 768px) {
  .about--subheader {
    margin-bottom: 0;
  }
}
.about--intro {
  max-width: 1000px;
  margin: 0 auto 2rem;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.1rem;
  font-weight: 300;
}
.about--intro i {
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
  font-weight: 500;
}
@media (min-width: 768px) {
  .about--intro {
    margin: 0 auto 4rem;
    text-align: center;
  }
}
.about--section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2.5rem 0;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
}
.about--section:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
@media (min-width: 768px) {
  .about--section {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    padding: 5rem 0;
  }
}
.about--section-title {
  font-size: 2rem;
  font-weight: 700;
}
.about--section-info {
  max-width: 400px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.1rem;
  font-weight: 300;
}
.about--section-info p:not(:last-child) {
  margin-bottom: 1rem;
}
.about--section-info i {
  color: rgba(0, 0, 0, 0.8);
  font-style: italic;
  font-weight: 600;
}
.about--staff-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-bottom: 2rem;
}
.about--staff-list:first-of-type {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
@media (min-width: 768px) {
  .about--staff-list:last-of-type {
    -ms-flex-pack: start;
        justify-content: flex-start;
    margin-bottom: 20rem;
  }
}
.about--staff {
  width: 100%;
  padding: 0 0 1rem;
}
@media (min-width: 768px) {
  .about--staff {
    width: 25%;
    padding: 1rem 0;
  }
}
.about--staff-name {
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.1rem;
  font-weight: 700;
}
.about--staff-position {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 300;
}
